services:
  redis:
    image: redis:7
    ports:
      - "6380:6379"

  print-script-manager:
    container_name: print-script-manager
    build: .
    env_file:
      - .env
    ports:
      - "8082:8082"
    networks:
      - default
      - microservices-network

networks:
  microservices-network:
    external: true

volumes:
  postgres-data: