services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  print-script-manager:
    build: .
    env_file:
      - .env
    ports:
      - "8082:8082"

volumes:
  postgres-data: